*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#carts table{
    min-width: 600px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    border-collapse: collapse;
}
#carts table td{
    padding: 10px;
}
#events table td button{
    padding: 8px 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
}
tbody{
    display: table-row-group;
    vertical-align: middle;
}




